<header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Ciesz się z życia</h1>
                    <hr class="small">
                    <span class="subheading">Blog dla tych, którzy lubią podróżować i nie tylko...</span>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content -->
<div class="container">
    <div class="row">

        <div id="postList" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="posts">
                @Html.Action("PostList", "Post")
            </div>
            <ul class="pager">
                <li class="next">
                    <a id="getOlderPostsButton" style="cursor: pointer">Starsze wpisy &rarr;</a>
                </li>
            </ul>
        </div>

    </div>
</div>


@section scripts{
<script src="~/ScriptApp/Post/postList.js"></script>
}


